@charset "utf-8";

html,body,div{
    margin: 0;
    padding: 0;
}

.pagebg{
    width: 100%;
    height: 200px;
}
.sh {
    background: url('/static/images/picture_bg.png') no-repeat;
    background-size: cover;
    background-position: top center;
}

.container { width: 1140px; margin: 20px auto }
h1.t_nav span { float: right; color: #000; }
h1.t_nav { border-bottom: #bfbfbf 1px solid; font-size: 14px; font-weight: normal; line-height: 40px; width: 100%; overflow: hidden; margin-bottom: 20px }
.n1, .n2 { width: 100px; display: block; text-align: center; float: left; color: #fff; }
.n1 { background: #000; }

.blogsbox {
    width: 100%;
    overflow: hidden;
    /*border: 1px solid red; */
}
.infosbox {
    float: left;
    width: 45%;
    overflow: hidden;
    border: 1px dashed #000;
    /*box-shadow: 0 0 5px #ccc;*/
    margin: 27px 27px 0;

    animation:all 2s infinite;
}
.infosbox:hover{
    transform: scale(1.03);
}
.infosbox img{
    width: 100%;
}

.fm{
    padding-left: 10px;
    width: 1140px; margin: 20px auto;
    border-bottom: 1px dashed #000;
}
.fm p input[type=file], .fm p input[type=submit]{
    padding: 3px 13px;
    cursor: pointer;
}
