body{
	background-image: url('../images/register_logo.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%; 
    background-attachment: fixed;
	margin: 0px;
    width: 1440px;
}
::-webkit-input-placeholder { /* WebKit browsers */
color:white;
}
/*input:focus {
    outline:none;
    caret-color: red;
}*/
.d1{
	margin-top: 80px;
	margin-left: 400px;
    width: 750px;
}
.d2{
	color: white;
	font-size: 40px;
}
.d3{
	height: 40px;
	font-size: 28px;
	width: 350px;
	background-color: transparent;
	color: orange;
	border-radius: 12px;
	border: 2px solid white;
	padding-left: 10px;
}
.d3:focus{
	outline:none;
    caret-color: red;
}
.d4{
	border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    margin: 4px 2px;
    border-radius: 8px;
    background-color: transparent;
    color: #C87E32;
    border: 2px solid white;
    width: 200px;
    margin-top: 100px;
    margin-left: 200px;

}
.d4:hover {
    background-color: white;
    box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.24),
    0 20px 53px 0 rgba(0, 0, 0, 0.19);
}