<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AI_ROOT</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <link href="/static/css/artificial-inte.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body onselectstart="return false;" class="tbody">

  <!-- nav -->
  <div class="row fixed-nav">
    <div class="col-md-12">
      <div class="container">
        <ul class="main-nav">
          <li><a href="/">HOME</a></li>
          <li><a href="#">Download</a></li>
          <li class="small-logo">
            <a href="/airoot">
              <img class="navLogo" src="/static/images/ai-icon.png" alt="">
            </a>
          </li>
          {% if key %}
            <li><span  class="user-btn">USER</span></li>
            <li><a href=""></a></li>
            <div class="user-box">
              <ul>
                <li><a href="/picture" target="_blank">My_Album</a></li>
                <li><a href="/delcookie">Quit</a></li>
              </ul>
            </div>
          {% else %}
            <li><a href="/login">LOGIN</a></li>
            <li><a href="/register" target="_top">REGISTER</a></li>
          {% endif %}
        </ul>
    </div>
    </div>
  </div>

<!-- header -->
  <div class="row" id="cat-one">
    <div class="col-md-12 header">
      <div class="contion">
        <h1>Artificial intelligence</h1>
        <ul>
          <li>A science that can change life.</li>
          <li>Technology changes the world and makes the world more exciting.</li>
        </ul>
        <a href="/airoot">Intelligent dialogue</a>
      </div>
    </div>
  </div>


<!-- learn nav -->
  <div class="row notweb">
    <div class="col-md-3 pic-box">
      <div class="hd-pic">
          <a href="http://www.w3school.com.cn/" target="_blank">
            <img src="/static/images/w3school.png" alt="">
          </a>
      </div>
      <div class="bd-word bgcolor-fff">
          <h4 class="bd-tit color-333 ">
            <a href="http://www.w3school.com.cn/" class="color-333" target="_blank">
              w3school
            </a>
          </h4>
          <h4 class="bd-tit color-333 ">
            <a href="http://www.w3school.com.cn/" class="color-333" target="_blank">
              www.w3school.com
            </a>
          </h4>
      </div>
    </div>
    <div class="col-md-3 pic-box">
      <div class="hd-pic">
          <a href="http://www.runoob.com/" target="_blank">
            <img src="/static/images/runoob.png" alt="">
          </a>
      </div>
      <div class="bd-word bgcolor-fff">
          <h4 class="bd-tit color-333 ">
            <a href="http://www.runoob.com/" class="color-333" target="_blank">
              菜鸟教程
            </a>
          </h4>
          <h4 class="bd-tit color-333 ">
            <a href="http://www.runoob.com/" class="color-333" target="_blank">
              www.runoob.com
            </a>
          </h4>
      </div>
    </div>
    <div class="col-md-3 pic-box">
      <div class="hd-pic">
          <a href="http://www.tmooc.cn/" target="_blank">
            <img src="/static/images/tarena.png" alt="">
          </a>
      </div>
      <div class="bd-word bgcolor-fff">
          <h4 class="bd-tit color-333 ">
            <a href="http://www.tmooc.cn/" class="color-333" target="_blank">
              达内TMOOK
            </a>
          </h4>
          <h4 class="bd-tit color-333 ">
            <a href="http://www.tmooc.cn/" class="color-333" target="_blank">
              www.tmooc.cn
            </a>
          </h4>
      </div>
    </div>
    <div class="col-md-3 pic-box">
      <div class="hd-pic">
          <a href="https://www.imooc.com/" target="_blank">
            <img src="/static/images/imooc.png" alt="">
          </a>
      </div>
      <div class="bd-word bgcolor-fff">
          <h4 class="bd-tit color-333 ">
            <a href="https://www.imooc.com/" class="color-333" target="_blank">
              慕课网
            </a>
          </h4>
          <h4 class="bd-tit color-333 ">
            <a href="https://www.imooc.com/" class="color-333" target="_blank">
              www.imooc.com
            </a>
          </h4>
      </div>
    </div>
  </div>





  <div class="row">
    <div class="col-md-12 page-three">
      <div class="course-artificial-intelligencen-dowork">

						<div class="mz-wrap">
							<div class="mz-tb-tit">
								<h3>机器学习能做出什么样的产品</h3>
							</div>
                              <div class="course-artificial-intelligencen-dowork-list clear">
								<div class="course-artificial-intelligencen-dowork-item">
									<div class="course-artificial-intelligencen-dowork-pic">
										<img src="/static/images/course-artificial-intelligencen-dowork-pic01.jpg" alt="无人驾驶汽车">
									</div>
									<div class="course-artificial-intelligencen-dowork-txt">
										<h6>无人驾驶汽车</h6>
										<p>一款无人驾驶汽车，你可以向他提问比如“去哪儿吃晚餐好”，它则能轻松作答，并带您前往。</p>
									</div>
								</div>
								<div class="course-artificial-intelligencen-dowork-item">
									<div class="course-artificial-intelligencen-dowork-pic">
										<img src="/static/images/course-artificial-intelligencen-dowork-pic02.jpg" alt="智能教育">
									</div>
									<div class="course-artificial-intelligencen-dowork-txt">
										<h6>智能教育</h6>
										<p>根据不同孩子的学习习惯、能力及需求，定制个性化学习方案，充分挖掘每个孩子的潜能。</p>
									</div>
								</div>
								<div class="course-artificial-intelligencen-dowork-item">
									<div class="course-artificial-intelligencen-dowork-pic">
										<img src="/static/images/course-artificial-intelligencen-dowork-pic03.jpg" alt="可以思考的礼服">
									</div>
									<div class="course-artificial-intelligencen-dowork-txt">
										<h6>可以思考的礼服</h6>
										<p>分析了成千上万篇文章，扫描了数百张图像，并实时从社交评论中洞察情绪，使礼服随之变换颜色。</p>
									</div>
								</div>
								<div class="course-artificial-intelligencen-dowork-item course-artificial-intelligencen-dowork-item-ts01">
									<div class="course-artificial-intelligencen-dowork-pic">
										<img src="/static/images/course-artificial-intelligencen-dowork-pic04.jpg" alt="隐私更具私密">
									</div>
									<div class="course-artificial-intelligencen-dowork-txt">
										<h6>隐私更具私密</h6>
										<p>快速抓取并且分析海量数据，通过持续的预测性评估来检测漏洞。并提供近乎实时的警报，有效的保护客户的个人隐私。</p>
									</div>
								</div>
								<div class="course-artificial-intelligencen-dowork-item course-artificial-intelligencen-dowork-item-ts">
                                    <div class="course-artificial-intelligencen-dowork-txt fl">
										<h6>智能医疗</h6>
										<p>实现患者与临床试验的高效匹配，为患者提供前沿的治疗方案选择，同时探索全新的医疗护理模式。</p>
									</div>
									<div class="course-artificial-intelligencen-dowork-pic fr">
										<img src="/static/images/course-artificial-intelligencen-dowork-pic05.jpg" alt="智能医疗">
									</div>

								</div>

							</div>
						</div>
					</div>
    </div>
  </div>
<!-- footer -->
  <div class="row">
    <div class="col-md-12">
      <div class="footer">
        <ul class="team">
          <li class="title">团队成员:</li>
          <li>王松</li>
          <li>李建强</li>
          <li>程少权</li>
          <li>李凡</li>
          <li>王晓松</li>
          <li>张文博</li>
        </ul>

        <ul class="team">
          <li class="title">老师成员:</li>
          <li>魏明泽</li>
          <li>王伟超</li>
          <li>吕泽</li>
          <li>赵蒙蒙</li>
          <li>赵旭</li>
          <li>李金玲</li>
        </ul>

        <ul class="team">
          <li class="title">使用技术:</li>
          <li>python基础</li>
          <li>mysql</li>
          <li>html/css</li>
          <li>flask</li>
          <li>flask_sqlalchemy</li>
          <li>pymysql</li>
        </ul>
      </div>
    </div>
  </div>
    <!-- 导入JS脚本 -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script>
      var temp = true;
      $('.user-btn').click(function () {
          console.log('onclick');
          if(temp){
              $('.user-box').css({'display':'block'});
              temp = false;
          }else{
              $('.user-box').css({'display':'none'});
              temp = true;
          }
      });
    </script>
  </body>
</html>