<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>查詢</title>
	<link rel="stylesheet" type="text/css" href="static/查询界面/css/搜索部分.css">
	<script src="static/查询界面/js/jquery-1.11.0.min.js"></script>
	<script SRC="static/查询界面/js/common.js"></script>
	<style>
		#front-nav {
			color: black;
			padding:10px 0 0 10px;
		}
		#front-nav a{
			text-decoration: none;
			color: red;
		}
		#front-nav a:hover {
			color:blue;
		}
		.bg img{
		position: fixed;
		top:0;
		width: 100%;
		height:100%;
		opacity: 0.6;
		z-index: -100;
		}
	</style>
</head>
<body>
  	<div id="front-nav" >
    	{% if params.uname %}
        <span>欢迎：{{params.uname}}</span><a href="/dict_kinds" >[返回上一级]</a>
		{% else %}
			<a href="/dict_kinds" >[返回上一级]</a>
		{% endif %}
  	</div>
	<div class="bg">
		<img src="/static/查询界面/imgs/search-background.jpg" alt="">
	</div>
	<div id="search-link" style="margin: 0 auto">
		<img src="static/查询界面/imgs/logo.png">
		<form action="/search_before" method="post">
			<input type="hidden" value="{{params.dict}}" name="dict">
			<input type="text" name="searchword" value="{{params.word_sea.word}}">
			<input id="fanyi" type="submit" value="翻译">
		</form>
			
	</div>

	<div id="search-content" style="width: 600px;margin: 0 auto;">
		<h2 id="word">
			<span>{{params.word_sea.word}}</span>
		</h2>
		<div id="prononce">
			{% if params.yinbiao_ying %}
			<span class="en">{{params.yinbiao_ying.0}}</span>
			<img class="ying" src="static/查询界面/imgs/喇叭.png" style="width: 20px;height: 16px;">
			<audio id="ying" src="{{params.yinbiao_ying.1}}"></audio>&nbsp;&nbsp;&nbsp;
			<span class="am">{{params.yinbiao_mei.0}}</span>
			<img class="mei" src="static/查询界面/imgs/喇叭.png" style="width: 20px;height: 16px;">
			<audio id="mei" src="{{params.yinbiao_mei.1}}"></audio>
			{% endif %}
		</div><hr>
		<div>
		{% if params.jieshis %}

			{% for jieshi in params.jieshis %}
				<p style="margin: 7px 0">
				<span style="display:inline-block;background-color: #aaa;width: 40px;text-align: center;margin-right: 10px">{{jieshi.0}}</span><span>{{jieshi.1}}</span>
				</p>
			{% endfor %}
			{% endif %}
		</div><hr>
		<div>
			<ol style="list-style-type: square"  >
				{% for liju in params.lijus %}
					<li>{{liju.0}}</li>
					<p>{{liju.1}}</p>
				{% endfor %}
			</ol>
		</div>

	</div>
	<script>
		$(function(){
		    $('.ying').click(function(){
		        var ying = document.getElementById('ying');
		        ying.load();
		        ying.play();
			});
			$('.mei').click(function(){
		        var mei = document.getElementById('mei');
		        mei.load();
		        mei.play();
			})
		})
	</script>
	<!--<script>-->
		<!--$('#fanyi').click(function(){-->
		    <!--//1.创建xhr-->
			<!--var xhr = createXhr();-->
			<!--//2.创建请求-->
			<!--xhr.open('post','/search',true);-->
			<!--//3.设置回调函数-->
			<!--xhr.onreadystatechange=function(){-->
			  <!--if(xhr.readyState==4&&xhr.status==200){-->
				<!--$("#interpret").html(xhr.responseText);-->
			  <!--}-->
			<!--};-->
			<!--//4.设置请求消息头-->
			<!--xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded');-->
			<!--//5.发送请求-->
			<!--xhr.send("word="+$("[name='searchword']").val());-->
			<!--})-->
	<!--</script>-->

</body>
</html>